@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
    background-color: #003049;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }


.formum {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    height: auto;
    width: auto;
}

.logo{
    width: 100px;
    height: 100px;
}

.campo {
    width: 250px;
    height: 40px;
    border: none;
    border-bottom: 5px solid #f32222;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 15px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-color: rgba(48, 43, 43, 0.6);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px 50px;
  }