@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: 'Oswald', sans-serif;
}

body {
  background-color: #003049;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 100px;
  height: 100px;
}

.formum {
  height: auto;
  width: auto;
}

.campo {
  width: auto;
  height: 40px;
  border: none;
  border-bottom: 5px solid #f32222;
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 15px;
}

.campo::placeholder {
  text-indent: 15px;
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
}

.btn-login {
  width: 100px;
  height: 35.5px;
  font-size: 14px;
  font-weight: bolder;
  border-radius: 5px;
  background-color: #747474;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  background-color: rgba(48, 43, 43, 0.6);
  padding: 10px;
  border-radius: 10px;
  margin: 10px
}

.register{
  align-self: center;
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
}

.register a{
  color: #000;
  font-weight: bolder;
  cursor: pointer;
}

